<div>
<div style='width: 600px;margin:auto'>
  <img  style='width: 600px' src="https://i.ytimg.com/vi/7RySr4tGrec/maxresdefault.jpg">
</div>
<h1 class="logo"><center>Welcome to Feel The Burn</h1></center>
<h3 align="center">Workout Tracker</h3>
</div>
