<h2>Your Routines:</h2>
<% if @routines.empty? %>
    <p> You have no routines yet! </p>
<% else %>
    <ul>
    <% @routines.each do |routine| %>
        <li><%= link_to routine.workout_name, user_routine_path(current_user, routine) %></li>
    <% end %>
    </ul>
<% end %>
<div class="navbar">
<%= link_to "Start New Routine", new_user_routine_path(current_user), class:"navbar-brand" %> 
<%= link_to "See All Available Workouts", workouts_path %> 
<%= link_to "Add New Workout", new_workout_path %> 

</div>
