<h1>Sign Up!</h1>
<%= link_to('Log in with Facebook!', '/auth/facebook') %>
<p>or enter in your details below:</p>

<% if @user.errors.any? %>
<div class="alert alert-danger" role="alert">
  <ul>
  <% @user.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
</div>
<% end %>

<%= render partial: 'form', locals: {user: @user} %>