html{
    background-color: #F1F1F1; 
    font-family: 'Ubuntu', sans-serif;
}

.logo{
    font-family: 'Montserrat Subrayada', sans-serif;
}

.navbar{
    overflow: hidden;
    background-color: #333;
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .navbar a:hover {
    background: #005555;
    color: white;
  }
  
  .navbar a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  .main {
    padding: 16px;
    margin-bottom: 30px;
  }

  .field_with_errors input {
    border: 1px solid red;
  }


.menu_simple ul {
    margin: 0;
    padding: 0;
    width:185px;
    list-style-type: none;
    }
     
    .menu_simple ul li a {
    text-decoration: none;
    color: white;
    padding: 10.5px 11px;
    background-color: #005555;
    display:block;
    }
    .menu_simple ul li a:visited {
    color: white;
    }
    .menu_simple ul li a:hover, .menu_simple ul li .current {
    color: white;
    background-color: #5FD367;
    }

    a {
        text-decoration: none;
        color: black;

        }
    
        a:hover{
            background-color: #5FD367
        }

    li {
        list-style-type: none;
    }
